<!DOCTYPE html>
<html>
<head>
  <title>Sps</title>
  <%= stylesheet_link_tag    "sps/application", :media => "all" %>
  <%= javascript_include_tag "sps/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
